<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gqueiroz.androidtcc" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.fatec.activity.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="edu.fatec.activity.MateriaTestActivity"
            android:label="@string/title_activity_materia_test"
            android:parentActivityName="edu.fatec.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.MainActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.UsuarioTestActivity"
            android:label="@string/title_activity_usuario_test"
            android:parentActivityName="edu.fatec.activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.LoginActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.DuvidaTestActivity"
            android:label="@string/title_activity_duvida_test"
            android:parentActivityName="edu.fatec.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.MainActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.RespostaTestActivity"
            android:label="@string/title_activity_resposta_test"
            android:parentActivityName="edu.fatec.activity.DuvidaTestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.DuvidaTestActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.ApresentacaoActivity"
            android:label="@string/title_activity_apresentacao"
            android:parentActivityName="edu.fatec.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.MainActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="edu.fatec.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.MainActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.NovaDuvidaTestActivity"
            android:label="@string/title_activity_nova_duvida_test"
            android:parentActivityName="edu.fatec.activity.DuvidaTestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.fatec.activity.DuvidaTestActivity" />
        </activity>
        <activity
            android:name="edu.fatec.activity.MainTestActivity"
            android:label="@string/app_name"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
